<!DOCTYPE html>
<html>
    <head>

    </head>
    <body ng-app="Myapp">

        <div ng-controller="MainController">
            {{judul}}
        </div>
        <script src="/js/angular.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/MainController.js"></script>
        <script src="/js/directives/MyDirective.js"></script>
    </body>
</html>