<html ng-app="myApp">
<head>
    <title>ngRepeat-lab</title>
    <script src="../js/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="myCtrl">
    <h1>Table Siswa</h1>
    <p>
        <label>Search</label>
        <input type="search" ng-model="search" placeholder="cari siswa">
    </p>
    <table border="1">
        <tr>
            <th><a href="" ng-click="boolname = ordering (boolname, 'name')">Nama</a></th>
            <th><a href="" ng-click="boolclass = ordering (boolclass, 'class')">Kelas</a></th>
            <th><a href="" ng-click="boolscore = ordering (boolscore, 'score')">Nilai</a></th>
        </tr>

        <tr ng-repeat="s in (results = (students | filter:search | orderBy:ord:ordstatus))">
            <th>{{s.name}}</th>
            <th>{{s.class}}</th>
            <th>{{s.score}}</th>
        </tr>
        <tr ng-if="results.length == 0">
            <td colspan="3"> Hasil tidak ditemukan</td>
        </tr>

    </table>
</body>
</html>